.container {

    display: flex;
    flex-direction: row;

}

.taskDivider {
    border-bottom: 2px solid black;
}

.description {
    margin: 5px;
}

.completeBtn {
    margin: 2px;
    color: green
}

.IncompleteBtn {
    margin: 2px;
    color: rgb(8, 39, 104);
}

.deleteBtn {
    margin: 2px;
    color: red;
}

.taskDone {
    color: green;
    text-decoration: line-through;
    font-weight: bold;
}

.notDone {
    color: black;
    text-decoration: none;
}